#about h2 {
    font-family: var(--headText);
}

.abtPCont {
    padding: 1rem;
}

#about p {
    font-family: var(--supportText);
    line-height: 25px;
    font-size: 1.75rem;
}

#about p:last-child {
    margin-bottom: 0rem;
}