.contactLinks, .formCont {
    padding: 1rem;
}

.contactLinks i {
    font-size: 2rem;
    padding-right: 5px;
}

.contactLinks a {
    display: inline-block;
    color: #333 !important;
    font-family: var(--supportText);
    line-height: 35px;
    font-size: 1.5rem;
}

.contactLinks span {
    font-family: var(--supportText);
    line-height: 35px;
    font-size: 1.55rem;
}

form {
    position: relative;
    padding: 1rem;
    width: 100%;
}

label {
    font-family: var(--headText);
}

input {
    font-family: var(--supportText);
}

button {
    font-family: var(--headText);
}