#projects h2, #projects h3 {
    font-family: var(--headText);
}

.projectCont {
    padding: 2rem;
}

hr {
    width: 80%;
}

.img-container img {
    width: 100%;
    cursor: zoom-in;
}

.img-container img {
    border: var(--bb);
}

#projects a {
    display: inline-block;
    font-family: var(--supportText);
    color: #333;
    line-height: 25px;
    font-size: 1.75rem;
    word-break: break-word;
}

#projects .source {
    display: block;
    font-family: var(--supportText);
    color: #333;
    line-height: 25px;
    font-size: 1.75rem;
}

#projects p {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 25px;
    font-size: 1.75rem;
    font-family: var(--supportText);
}

.skillUsed {
    padding-top: 1rem !important;
}

@media screen and (max-width: 450px) {
    .skillUsed {
        line-height: 40px !important;
    }
}

.skillUsed span {
    background-color: var(--main);
    padding: .75rem;
    font-family: var(--supportText);
}

@media screen and (min-width: 992px) {
    hr {
        width: 70%;
    }

    .project {
        width: 85%;
        margin: auto;
    }

    .right {
        float: right;
    }
}

#myImg {
    border-radius: 5px;
    transition: 0.3s;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1 !important;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 95% !important;
    }
  }