.skillCont {
    padding: 1rem;
}

.techSkills h3, .softSkill h3 {
    margin: 0;
    padding-bottom: 1rem;
    font-family: var(--headText);
}

.techSkills img {
    width: 70px;
    height: 70px;
    padding: 10px;
}

.softSkill p {
    font-family: var(--supportText);
}

.techSkills, .softSkill {
    text-align: center;
}

.softSkill {
    padding-top: 1rem;
}

@media screen and (min-width: 991px) {
    .softSkill {
        padding-top: 0rem;
    }
}