#bumper {
    height: 55px;
}

#splash {
    position: relative;
    background-color: var(--main);
    width: 100%;
    border-bottom: var(--bb);
    margin: 0 auto;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#splash .imgContainer {
    border-radius: 50%;
    border: var(--bb);
    display: block;
}

#splash .imgContainer img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    /* filter: grayscale(80%); */
    display: block;
}

#splash h1, #splash h2 {
    margin: 0;
    font-family: var(--headText);
}

#splash h1 {
    font-size: 5rem;
} 

#splash h2 {
    font-size: 4.5rem;
}

@media screen and (max-width: 769px) {
    #bumper {
        height: 65px
    }
}